<ul style="list-style:none">
    <li data-dojo-attach-point="zoomFullExtentDom" id="Fullscreen"
        class="fa fa-arrows"
        data-dojo-attach-event="onclick:_zoomFullExtent">
        <!--<img src="/Content/MapSystem/images/Toolbars-icon/Fullscreen.png" />-->
        <!--<span>&#xe63e;</span>--><span>全图</span>
</li>
    <li data-dojo-attach-point="zoomPan" id="btnZoomPan"
        class="fa fa-hand-pointer-o"
        data-dojo-attach-event="onclick:_zoomPan">
        <!--<img src="/Content/MapSystem/images/Toolbars-icon/Translation.png" />-->
        <!--<span>&#xe644;</span>--><span>平移</span>
</li>    
    <li data-dojo-attach-point="zoomIn" id="btnZoomIn"
        class="fa fa-search-plus"
        data-dojo-attach-event="onclick:_zoomInMap">
        <!--<img src="/Content/MapSystem/images/Toolbars-icon/Enlarge.png" />-->
        <!--<span>&#xe643;</span>--><span>放大</span>
</li>
    <li data-dojo-attach-point="zoomOut" id="btnZoomOut"
        class="fa fa-search-minus"
        data-dojo-attach-event="onclick:_zoomOutMap">
        <!--<img src="/Content/MapSystem/images/Toolbars-icon/Narrow.png" />-->
        <!--<span>&#xe63f;</span>--><span>缩小</span>
    </li>
    <!--<li data-dojo-attach-point="zoomPrev" id="zoomPrev" 
        class="fa fa-arrow-left"
        data-dojo-attach-event="onclick:_zoomPrev">
        <img src="/Content/MapSystem/images/Toolbars-icon/Front.png" />
        前一视图
    </li>
    <li data-dojo-attach-point="zoomNext" id="zoomNext"
        class="fa fa-arrow-right"
        data-dojo-attach-event="onclick:_zoomNext">
        <img src="/Content/MapSystem/images/Toolbars-icon/Back.png" />
        后一视图
    </li>-->
    <li data-dojo-attach-point="measure" id="btnMeasure"
        class="fa fa-magic"
        data-dojo-attach-event="onclick:_measureMap">
        <!--<img src="../../../Content/MapsDisplaySys/Images/Toolbars-icon/Ranging.png" />-->
        <span>测量</span>
</li>
    <!--<li data-dojo-attach-point="print" id="btnPrint"
        class="fa fa-print"
        data-dojo-attach-event="onclick:_print">
        <img src="../../../Content/MapsDisplaySys/Images/Toolbars-icon/Print.png" />
        <span>打印</span>
</li>-->
    <li data-dojo-attach-point="draw" id="btnDraw"
        class="fa fa-object-group"
        data-dojo-attach-event="onclick:_draw">
        <!--<img src="../../../Content/MapsDisplaySys/Images/Toolbars-icon/Plotting.png" />-->
        <span>标绘</span>
</li>
    <li data-dojo-attach-point="veiwAttribute"
        class="fa fa-book"
        data-dojo-attach-event="onclick:_veiwAttribute">
        <span>属性</span>
    </li>    
    <li data-dojo-attach-point="clearGrapchis"
        class="fa fa-trash-o"
        data-dojo-attach-event="onclick:_clearGraphics">
        <!--<img src="/Content/MapSystem/images/Toolbars-icon/Empty.png" />-->
        <!--<span>&#xe645;</span>--><span>清空</span>
</li>    
    <!--<li data-dojo-attach-point="drawLabel"
        class="iconfont icon-biaozhu"
        data-dojo-attach-event="onclick:_drawLabel">
        <span>&#xe640;</span>标注
    </li>
    <li data-dojo-attach-point="addService"
        class="iconfont icon-quantu"
        data-dojo-attach-event="onclick:_addService">
        <span>&#xe642;</span>添加服务
    </li>-->
</ul>




