html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/*html,
body,
#myTableNode {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#top,
#bot {
    margin: 0;
    padding: 0;
}*/
.claro .dijitContentPane {
    padding: 0px;
    margin: 0px;
}


#borderContainer {
    width: 100%;
    height: 100%;
}

.floatPane {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 1000px;
    height:200px;
    /*height: 700px;*/
    z-index: 999;
}

.headerCls {
    background-color: rgba(255, 106, 0, 0.75) !important;
}
.bodyCls{
    background-color: rgba(255, 106, 0, 0.75) !important;
}
.floatMenu{
    position:absolute;
    top:0;
    right:0;
    width:300px;
    height:700px;
    background-color:antiquewhite;
    z-index:999;
}

.clear {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


.tool-xzqtree {
    position: absolute;
    top: 0;
    right: 70px;
    z-index: 999;
}

.tool-result {
    position: absolute;
    top: 0;
    right: 130px;
    z-index: 999;
}
.btn-toolbar {
    margin: 30px 30px;
}

.navbar-right {
    float: right !important
}
.nav {
    padding-left: 0;
    list-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}





.yp-chart-panel {
    bottom: 200px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 10px;
    /* background-color: #fff; */
    border: solid 1px #ccc;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    z-index: 999;
}
.yp-chart-panel-unfold {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 10px;
    /* background-color: #fff; */
    border: solid 1px #ccc;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    z-index:999;
}
.svgRoate {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



.basemaphigh {
    margin-top: 10px;
    color: orange;
    border: 1px solid white;
    text-align: center;
    height: 25px;
    line-height: 25px;
    -moz-box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.9); /* 老的 Firefox */
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.9);
}

.basemapnormal {
    margin-top: 10px;
    color: white;
    border: 1px solid white;
    text-align: center;
    height: 25px;
    line-height: 25px;
    -moz-box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.9); /* 老的 Firefox */
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.9);
}
.tool-common {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 999;
}

#tool-common a {
    padding: 10px;
    font-size: 15px;
}

    /*#tool-common ul {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }*/

#tool-common ul li {
    /*font-size: 14px;*/
    padding: 5px;
    text-align: center;
    color: rgb(52, 108, 147)
}
            #tool-common ul li span {
                padding-left: 5px;
            }
#tool-common ul li:hover {
                /*border-bottom: 2px solid #21b0eb;*/
                background-color: #cccccc;
                cursor: pointer;
            }

            #tool-common ul li:disabled {
                /*border-bottom: 2px solid #21b0eb;*/
                background-color: yellow;
            }
.disbale {
    background-color: #FCCD5B;
}

.emphasis {
    background-color: #DDD;
}

/*公共样式 */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a, img {
    border: 0;
}

body {
    font: 12px / 180% Arial, Helvetica, sans-serif, "新宋体";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 12px;
}

a {
    color: #666;
    text-decoration: none;
    transition: background-color 0.1s ease-in 0s, color 0.2s ease-in 0s;
    -webkit-transition: background-color 0.1s ease-in 0s, color 0.2s ease-in 0s;
    outline: none
}

    a:hover {
        color: #333;
    }

.clear {
    clear: both;
    margin: 0;
    padding: 0;
    font-size: 0px;
    line-height: 0px;
    height: 0px;
    overflow: hidden;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* 时间轴样式 */
.course_nr {
    height: 80px;
    background: url(./images/ico9.gif) repeat-x center;
}

    .course_nr li {
        float: left;
        background: url(./images/ico10.gif) no-repeat center top;
        padding-top: 30px;
        width: 140px;
        text-align: center;
        position: relative;
        margin-top: 25px;
        margin-left:30px;


    }

.shiji {
    position: absolute;
    width: 100%;
    left: 0;
    top: -20px;
    display: none;
}

    .shiji h1 {
        height: 67px;
        line-height: 67px;
        color: #518dbb;
        font-weight: bold;
        background: url(./images/ico11.gif) no-repeat center top;
        margin-bottom: 8px;
        font-family:40px;
    }

    .shiji p {
        line-height: 14px;
        color: #999;
    }