@*<div data-dojo-type="dojox.layout.FloatingPane" id="DTFloatingPane"
         data-dojo-props="resizable:true, dockable:false,  closable:true,title:'属性表查看'"
         style="position:absolute;top:500px;left:200px;width:500px;height:500px;visibility:hidden;">
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'关闭', onClick:function(){dijit.byId('DTFloatingPane').hide();}"></button><br />

        <table id="DTable" cellpadding="0" cellspacing="0" border="1" class="display" width="100%"></table>
    </div>*@

<style>
    #DTFloatingPane .panel-body {
        padding: 0px !important;
    }
</style>
<div id="DTFloatingPane" class="easyui-draggable" data-options="handle:'#DTtitle'" style="position:absolute;top:150px;left:200px;width:500px;height:500px;z-index:999999;visibility:hidden;border:2px solid #194B6E;">
    <div id="DTtitle" style="padding:5px;background: rgb(25, 75, 110);color:#fff"><a style="color: #FFFFFF;">设施农用地图斑属性表</a> <span style="float:right;cursor:pointer " onclick="closeDTFloatingPane()">关闭</span></div>
    <table id="DTable" class="easyui-datagrid" style="width:496px;height:466px;margin:0px;padding:0px;">  </table>
</div>

<script>
    //dojo.ready(function () {
    $(function () {
        document.getElementById("DTFloatingPane").style.visibility = "hidden";
        $("#DTable").datagrid({
            singleSelect: true,
            rownumbers: true,
            fitColumns: true,  
            columns: [
                [
                    { field: 'XZQDM', title: '行政区代码', width: 40, align: "center", rowspan: 1, colspan: 1 },
                    { field: 'TBBH', title: '图斑编号', width: 80, align: "center", rowspan: 1, colspan: 1 },                   
                    { field: 'XZHC', title: '变更调查现状核查', width: 70, align: "center", rowspan: 1, colspan: 1 },
                    { field: 'YSBM', title: '要素编码', width: 80, align: "center", rowspan: 1, colspan: 1 },
                    { field: 'XMMC', title: '项目名称', width: 80, align: "center", rowspan: 1, colspan: 1 },
                    { field: 'ZRR', title: '责任人', width: 80, align: "center", rowspan: 1, colspan: 1 },
                    { field: 'YDWZ', title: '用地位置', width: 80, halign: "center", rowspan: 1, colspan: 1 },
                    { field: 'YDLX', title: '设施农用地类型', width: 80, halign: "center", rowspan: 1, colspan: 1 },
                    { field: 'BABH', title: '备案编号', width: 80, halign: "center", rowspan: 1, colspan: 1 },
                    { field: 'BASJ', title: '备案时间', width: 80, halign: "center", rowspan: 1, colspan: 1 },
                    { field: 'SJMJ', title: '实际面积', width: 80, halign: "center", rowspan: 1, colspan: 1 },
                    { field: 'HCJG', title: '变更调查核查结果', width: 80, halign: "center", rowspan: 1, colspan: 1 },
                    { field: 'YDMJ', title: '用地面积', width: 80, halign: "center", rowspan: 1, colspan: 1 },
                    { field: 'GDMJ', title: '占用耕地', width: 80, halign: "center", rowspan: 1, colspan: 1 },
                    { field: 'YDGM', title: '用地规模', width: 80, halign: "center", rowspan: 1, colspan: 1 },
                    { field: 'YEAR', title: '图斑年份', width: 80, halign: "center", rowspan: 1, colspan: 1 },
                    { field: 'BZ', title: '备注', width: 80, align: "center", rowspan: 1, colspan: 1 },
                ]
            ],
            onClickRow: function (rowIndex, rowData) {
                if (rowData != null) {
                    for (var i = 0; i < featuresList.length; i++) {
                        if (featuresList[i].attributes.YSBM == rowData["YSBM"]) {
                            var selectFeature = featuresList[i];
                            displayBYfeature(selectFeature, "TB", selectFeature.attributes.YEAR)
                            break;
                        }
                    }
                }
            }
        });
    })
    function closeDTFloatingPane() {
        document.getElementById("DTFloatingPane").style.visibility = "hidden";
    }
</script>




