<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false,liveSplitters:false" style="background-color:rgba(1, 56, 95, 0.90);border-color: transparent;">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left',splitter:false" style="width:500px;line-height:60px;font-family: 'Dosis';font-size: 30px;font-weight: 600;color: #fff;margin-left:10px;text-transform: uppercase;">
        云南省设施农用地备案监管系统
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center',splitter:false">
        <nav class="nav right">
            <ul>
                <li><a class="fa fa-database" onclick="popQuerylayer()" href="#">查询分析</a></li>             
                <li ><a class="fa fa-database" href="#">数据管理</a></li>

                <li><a  class="fa fa-bar-chart" href="#">查询统计</a></li> @*line-chart*@

                <li><a  class="fa fa-university"  onclick="" href="#">监管核查</a></li>

                <li><a class="fa fa-user-circle" href="#">用户管理</a></li>
            </ul>

        </nav>
        
    </div>
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right',splitter:false"  style="width:100px;font-family: 'Dosis';font-size: 12px;color: #fff;text-align:center;height:60px;margin-top:10px;">
        <span style="display:block">您好：</span>
        <span style="display:block">@ViewBag.UserName</span>
        </div>
    </div>

<script>

    function popQuerylayer()
    {
       
        require(["dijit/registry", "dojo/on", "dojo/domReady!"],
                        function (registry, on) {
                           
                            var a = registry.byId("dFloatingPane");
                           
                            a.show();
                            a.bringToTop();
                        
                        });
        document.getElementById("TC2").style.display = 'none';
        document.getElementById("TC3").style.display = 'none';
        document.getElementById("TC4").style.display = 'none';
     
    }



    function switchTAB(index) {
        var q1 = document.getElementById("TC1");
        var q2 = document.getElementById("TC2");
        var q3 = document.getElementById("TC3");
        var q4 = document.getElementById("TC4");
       switch(index)
       {
           case 1: q1.style.display = 'block'; q2.style.display = 'none'; q3.style.display = 'none'; q4.style.display = 'none'; break;
           case 2: q1.style.display = 'none'; q2.style.display = 'block'; q3.style.display = 'none'; q4.style.display = 'none'; break;
           case 3: q1.style.display = 'none'; q2.style.display = 'none'; q3.style.display = 'block'; q4.style.display = 'none'; break;
           case 4: q1.style.display = 'none'; q2.style.display = 'none'; q3.style.display = 'none'; q4.style.display = 'block'; break;

       }






    }



</script>
