<div id="systemmenu">
    <ul>
        @*<li><a onclick="popDT()" href="javascript:void(0)">属性表查看</a><div class="n"></div></li>*@
        <li @*class='active'*@>
            <a href="javascript:void(0)">数据管理@*<span>HOME</span>*@</a><div class="n"></div>
            <ul>
                <li><a href="javascript:void(0)" onclick="popBaobiaoManage()">备案报表管理</a></li>
                <li><a href="javascript:void(0)">区县备案上报</a></li>
                @*<li><a href="javascript:void(0)">核查图斑管理</a></li>*@
            </ul>
        </li>

        <li><a  href="javascript:void(0)">查询统计@*<span>ABOUT US</span>*@</a><div class="n"></div>
            <ul>
                <li><a onclick="popQUELayer(1)" href="javascript:void(0)">空间查询</a></li>
                <li><a onclick="popQUELayer(2)" href="javascript:void(0)">空间统计</a></li>
                <li><a onclick="popQUELayer(3)" href="javascript:void(0)">属性查询</a></li>
                <li><a onclick="popQUELayer(4)" href="javascript:void(0)">属性统计</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)">监管核查@*<span>SERVICES</span>*@</a><div class="n"></div>
            <ul>
                <li><a onclick="popSuperviseLayer(1)" href="javascript:void(0)">用地规模监管</a></li>
                <li><a onclick="popSuperviseLayer(2)" href="javascript:void(0)">备案材料监管</a></li>
                <li><a onclick="popSuperviseLayer(3)" href="javascript:void(0)">变更调查监管</a></li>
            </ul>
        </li>
        <li>
            <a onclick="popUserManage()" href="javascript:void(0)">用户管理@*<span>CONTACT</span>*@</a><div class="n"></div>
        </li>
    </ul>

</div>

<script>
    $(function () {
        @*var authority = "@ViewBag.authority";
        if (authority == "2") {
            $('#datamanage a').removeAttr('href');//去掉a标签中的href属性
            $('#datamanage a').removeAttr('onclick');//去掉a标签中的onclick事件

            $('#usermanage a').removeAttr('href');//去掉a标签中的href属性
            $('#usermanage a').removeAttr('onclick');//去掉a标签中的onclick事件
        }
        else if (authority == "3") {
            $('#systemmenu li a').removeAttr('href');//去掉a标签中的href属性
            $('#systemmenu li a').removeAttr('onclick');//去掉a标签中的onclick事件
        }*@

        $("#systemmenu>ul>li").hover(function () {
            $(this).addClass("sfhover");
            $("#systemmenu ul ul").slideUp("fast");
            //$(this).find("a:first").animate({ "top": "12px" }, "fast");
            //$(this).find("span").animate({ "top": "-30px" }, "fast");
            if (!$(this).find("ul").is(":animated")) $(this).find("ul").slideDown("fast")
        },
        function () {
            $(this).removeClass("sfhover");
            $(this).find("a:first").animate({ "top": "0px" }, "fast");
            $(this).find("span").animate({ "top": "0px" }, "fast");
            if (!$(this).find("ul").is(":animated")) $(this).find("ul").slideUp("fast");
            $("#systemmenu ul ul").slideUp("fast")
        })

    })

    function popDT() {      //弹出属性表

        //require(["dijit/registry", "dojo/on", "dojo/domReady!"],
        //    function (registry, on) {

        //        var a = registry.byId("DTFloatingPane");

        //        a.show();
        //        a.bringToTop();

        //    });

        //$("#DTFloatingPane").show();
        //$("#DTFloatingPane").style.display = "block";
        document.getElementById("DTFloatingPane").style.visibility = "visible";

    }


    function popSuperviseLayer(kind) //弹出监管页面
    {
        switch (kind)
        {
            case 1:
                //require(["dijit/registry", "dojo/on", "dojo/domReady!"],
                //function (registry, on) {

                //    var a = registry.byId("YDGMJGFloatingPane");

                //    a.show();
                //    a.bringToTop();

                //});
                document.getElementById("YDGMJGFloatingPane").style.visibility = "visible";
                break;
            case 2:
                //require(["dijit/registry", "dojo/on", "dojo/domReady!"],
                //    function (registry, on) {

                //        var a = registry.byId("BACLJGFloatingPane");

                //        a.show();
                //        a.bringToTop();

                //    });
                document.getElementById("BACLJGFloatingPane").style.visibility = "visible";
                break;
            case 3:
                //require(["dijit/registry", "dojo/on", "dojo/domReady!"],
                //    function (registry, on) {

                //        var a = registry.byId("BGDCJGFloatingPane");

                //        a.show();
                //        a.bringToTop();

                //    });
                document.getElementById("BGDCJGFloatingPane").style.visibility = "visible";
                //document.getElementById("BGDCRES").style.visibility = "visible";
                //document.getElementById("BGDClist").style.visibility = "visible";
                //document.getElementById("BGDC").style.visibility = "visible";
                
                break;
        }


    }

    function popQUELayer(kind) //弹出查询统计页面
    {
        switch (kind) {
            case 1:
               
                document.getElementById("GeoQueFloatingPane").style.visibility = "visible";
                break;
            case 2:
              
                document.getElementById("GeoStaFloatingPane").style.visibility = "visible";
                break;
            case 3:
              
                document.getElementById("AttQueFloatingPane").style.visibility = "visible";
              

                break;
            case 4:
               
                document.getElementById("AttStaFloatingPane").style.visibility = "visible";
               

                break;
        }


    }

    function popQuerylayer() {

        require(["dijit/registry", "dojo/on", "dojo/domReady!"],
                        function (registry, on) {

                            var a = registry.byId("dFloatingPane");

                            a.show();
                            a.bringToTop();

                        });
        document.getElementById("TC2").style.display = 'none';
        document.getElementById("TC3").style.display = 'none';
        document.getElementById("TC4").style.display = 'none';

    }

    function switchTAB(index) {
        var q1 = document.getElementById("TC1");
        var q2 = document.getElementById("TC2");
        var q3 = document.getElementById("TC3");
        var q4 = document.getElementById("TC4");
        switch (index) {
            case 1: q1.style.display = 'block'; q2.style.display = 'none'; q3.style.display = 'none'; q4.style.display = 'none'; break;
            case 2: q1.style.display = 'none'; q2.style.display = 'block'; q3.style.display = 'none'; q4.style.display = 'none'; break;
            case 3: q1.style.display = 'none'; q2.style.display = 'none'; q3.style.display = 'block'; q4.style.display = 'none'; break;
            case 4: q1.style.display = 'none'; q2.style.display = 'none'; q3.style.display = 'none'; q4.style.display = 'block'; break;

        }

    }

    function popUserManage() {
        layer.open({
            type: 2,
            title: '用户管理',
            maxmin: true,
            area: ['800px', '500px'],
            content: '/MapSystem/UserView'
        });
    }

    function popBaobiaoManage() {
        layer.open({
            type: 2,
            title: '备案报表管理',
            maxmin: true,
            area: ['990px', '560px'],
            content: '/MapSystem/BeiAnInfoManageView'
        });
    }

</script>

