<div data-dojo-type="dojox.layout.FloatingPane" id="dFloatingPane"
     data-dojo-props="resizable:true, dockable:false,  closable:false,title:'查询分析'"
     style="position:absolute;top:100px;left:100px;width:500px;height:500px;visibility:hidden;">
    <span>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'空间查询'" onclick="switchTAB(1)"></button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'空间统计'" onclick="switchTAB(2)"></button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'属性查询'" onclick="switchTAB(3)"></button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'属性统计'" onclick="switchTAB(4)"></button>
        <button data-dojo-type="dijit.form.Button" data-dojo-props="label:'关闭', onClick:function(){dijit.byId('dFloatingPane').hide();}"></button><br />
    </span>

    @*空间查询*@
    <div data-dojo-type="dijit/layout/TabContainer" id="TC1" style="width: 100%; height: 100%;">
        <div data-dojo-type="dijit/layout/ContentPane" id="QU1" title="查询" data-dojo-props="selected:true">
            <button onclick="queryTool('Point')">单点</button>
            <button onclick="queryTool('Freehand_Polyline')">自由曲线</button>
            <button onclick="queryTool('Freehand_Polygon')">自由曲面</button>
            <button onclick="queryTool('Circle')">圆形</button>
            <div id="QU11"></div>
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" id="RES1" title="结果">

        </div>
    </div>
    @*空间统计*@
    <div data-dojo-type="dijit/layout/TabContainer" id="TC2" style="width: 100%; height: 100%;">
        <div data-dojo-type="dijit/layout/ContentPane" id="QU2" title="统计" data-dojo-props="selected:true">
            <label>选择统计字段：</label> <select name=" selectS1" id="selectS1">            
                <option value="SSNYDLX" selected="selected">土地类型</option>
                <option value="XZQDM">行政区代码</option>
            </select>
            </br>
            <button onclick="queryTool('Point',1,selectS1.value)">单点</button>
            <button onclick="queryTool('Freehand_Polyline',1,selectS1.value)">自由曲线</button>
            <button onclick="queryTool('Freehand_Polygon',1,selectS1.value)">自由曲面</button>
            <button onclick="queryTool('Circle',1,selectS1.value)">圆形</button>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" id="RES2" title="结果">
            <div id="geoSta" style="width: 400px;height:400px;"></div>
        </div>
    </div>
    @*属性查询*@
    <div data-dojo-type="dijit/layout/TabContainer" id="TC3" style="width: 100%; height: 100%;">
        <div data-dojo-type="dijit/layout/ContentPane" id="QU3" title="查询" data-dojo-props="selected:true">
            <label>选择查询字段：</label> <select name=" selectQ1" id="selectQ1">
                <option value="BSM" selected="selected">标识码</option>
                <option value="SSNYDLX" selected="selected">土地类型</option>
                <option value="XZQDM">行政区代码</option>
                <option value="JCTBBH">监测图斑编号</option>                  
            </select>
            </br>
            <label>输入查询值：</label>   <input id="QUvalue1" name="QUvalue1">
            <button data-dojo-type="dijit/form/Button" onclick="queryByAtt(QUvalue1.value, selectQ1.value)">查询</button>
            <div id="QU31"></div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" id="RES3" title="结果">

        </div>
    </div>
    @*属性统计*@
    <div data-dojo-type="dijit/layout/TabContainer" id="TC4" style="width: 100%; height: 100%;">
        <div data-dojo-type="dijit/layout/ContentPane" id="QU4" title="查询" data-dojo-props="selected:true">
            <label>选择查询字段：</label> <select name=" selectQ2" id="selectQ2">
                <option value="BSM" selected="selected">标识码</option>
                <option value="SSNYDLX">土地类型</option>
                <option value="XZQDM">行政区代码</option>
                <option value="JCTBBH">监测图斑编号</option>   
            </select>
            </br>
            <label>选择统计字段：</label> <select name=" selectS2" id="selectS2">
               
                <option value="SSNYDLX" selected="selected">土地类型</option>
                <option value="XZQDM">行政区代码</option>
            </select>
            </br>
            <label>输入查询值：</label>   <input id="QUvalue2" name="QUvalue2">
            <button data-dojo-type="dijit/form/Button" onclick="StaByAtt(QUvalue2.value, selectQ2.value,selectS2.value)">查询</button>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" id="RES4" title="结果">
            <div id="attSta" style="width: 400px;height:400px;"></div>
        </div>
    </div>





</div>



