@*工具栏*@
@*<div>
    <div data-toolbar="user-options" class="btn-toolbar  tool-common"><i class="fa fa-cog"></i></div>
    <div id="tool-result" data-toolbar="user-options" class="btn-toolbar  tool-result"><i class="fa fa-bars"></i></div>
    <div id="tool-xzqtree" data-toolbar="user-options" class="btn-toolbar  tool-xzqtree"><i class="fa fa-bar-chart"></i></div>
</div>
<div id="tool-common" class="toolbar-icons hidden">
    <a id="menu-bars" href="javascript:void(0);"><i class="fa fa-search-plus"></i></a>
    <a id="menu-bar-chart" href="javascript:void(0);"><i class="fa fa-search-minus"></i></a>
    <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-hand-pointer-o"></i></a>
    <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-arrow-left"></i></a>
    <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-arrow-right"></i></a>
    <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-arrows-alt"></i></a>
    <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-trash"></i></a>
    <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-window-close-o"></i></a>
</div>*@
<div id="tool-common" style="position:absolute;right:10px;top:10px;width:400px;z-index:999;background-color: rgba(255, 255, 255, 0.9);padding:5px 0px;">
</div>
<div id="measurementDiv" style="position: absolute; right: 40px; top: 80px; z-Index: 1; width: 200px; display: none; background: #fff; padding: 5px; border: 1px solid #ccc; ">
    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title:'测量工具', closable:false, open:true">
        <div id="measurement"></div>
    </div>
</div>
<div id="printDiv" style="position: absolute; right: 40px; top: 80px; z-Index: 1; width: 200px; display: none; background: #fff; padding: 5px; border: 1px solid #ccc; ">
    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title:'打印工具', closable:false, open:true">
        <div id="print"></div>
    </div>
</div>
<div id="drawDiv" style="position: absolute; right: 40px; top: 80px; z-Index: 1; width: 200px; display: none; background: #fff; padding: 5px; border: 1px solid #ccc; ">
    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title:'标绘工具', closable:false, open:true">
        <span>绘制:<br /></span>
        <button data-dojo-type="dijit/form/Button" onclick="activateTool('Point')">单点</button>
        <button data-dojo-type="dijit/form/Button" onclick="activateTool('Multi Point')">多点</button>
        <button data-dojo-type="dijit/form/Button" onclick="activateTool('Line')">直线</button>
        <button data-dojo-type="dijit/form/Button" onclick="activateTool('Polyline')">折线</button>
        <button data-dojo-type="dijit/form/Button" onclick="activateTool('Polygon')">多边形</button>
        <button data-dojo-type="dijit/form/Button" onclick="activateTool('Freehand Polyline')">自由曲线</button>
        <button data-dojo-type="dijit/form/Button" onclick="activateTool('Freehand Polygon')">自由曲面</button>
        <button data-dojo-type="dijit/form/Button" onclick="activateTool('Arrow')">箭头</button>
        <button data-dojo-type="dijit/form/Button" onclick="activateTool('Triangle')">三角形</button>
        <button data-dojo-type="dijit/form/Button" onclick="activateTool('Circle')">圆形</button>
        <button data-dojo-type="dijit/form/Button" onclick="activateTool('Ellipse')">椭圆</button>
    </div>
</div>

<script>
    function activateTool(label) {
        var tool = label.toUpperCase().replace(/ /g, "_");
        g_main._mapControl._toolbar.activateTool(tool);
    }

</script>