@{
    ViewBag.Title = "UserView";
    Layout = "~/Views/Shared/_Common.cshtml";
}
@section TitleSection{
    云南省设施农用地备案监管系统
}
@section HeaderSection{
    <link rel="stylesheet" type="text/css" href="~/Scripts/lib/jquery-easyui-1.5.2/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/lib/jquery-easyui-1.5.2/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/MapSystem/user.css">
    <script type="text/javascript" src="~/Scripts/lib/jquery-easyui-1.5.2/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/MapSystem/common/user.js"></script>
}
@section ContentBody{
    @*用户信息列表*@
    <table id="userTable"></table>
    @*新增、编辑用户*@
    <div id="userInfo">
        <table class="reg_table" align="center">
            <tr>
                <td colspan="2" style="height:50px;text-align:center;">
                    <span id="userOperTitle" style="font-size:20px">用户新增</span>
                </td>
            </tr>
            <tr>
                <td class="td1"><span style="color:red">*</span>账号：</td>
                <td class="td2"><input id="logionname" type="text" /></td>
            </tr>
            <tr>
                <td class="td1"><span style="color:red">*</span>密码：</td>
                <td class="td2"><input id="password" type="password" /></td>
            </tr>
            <tr>
                <td class="td1"><span style="color:red">*</span>用户名：</td>
                <td class="td2"><input id="username" type="text" /></td>
            </tr>
            <tr>
                <td class="td1">单位名称：</td>
                <td class="td2"><input id="company" type="text" /></td>
            </tr>
            <tr>
                <td class="td1">联系电话：</td>
                <td class="td2"><input id="telephone" type="text" /></td>
            </tr>
            <tr>
                <td class="td1">电子邮箱：</td>
                <td class="td2"><input id="email" type="text" /></td>
            </tr>
            <tr>
                <td class="td1">用户权限：</td>
                <td class="td2">
                    <select id="authority">
                        <option value="1">管理员用户</option>
                        <option value="2">一般用户</option>
                        <option value="3">普通用户</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td1">使用状态：</td>
                <td class="td2">
                    <select id="state">
                        <option value="1">启用</option>
                        <option value="2">停止</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 50px;">
                    <button style="margin-right:100px;width:100px" onclick="onButtonOk()"> 确定</button> <button style="width:100px" onclick="onButtonCancle()"> 取消</button>
                </td>
            </tr>
        </table>
    </div>
}


